/*font size*/
h1 {
  font-size: 6em;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  color: whitesmoke; }

h2 {
  font-size: 3em;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  color: whitesmoke; }

h3 {
  font-size: 2em;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  color: whitesmoke; }

/*image website*/
.ilserranoFondo-image {
  background-image: url(../images/ilserranoFondo.png);
  height: 100%;
  background-repeat: no-repeat;
  background-position: right; }

.creativaFondo-image {
  background-image: url(../images/creativaFondo.png);
  height: 100%;
  background-repeat: no-repeat;
  background-position: right; }

.stoneFondo-image {
  background-image: url(../images/stoneFondo.png);
  height: 100%;
  background-repeat: no-repeat;
  background-position: right; }

.selvageFondo-image {
  background-image: url(../images/selvageFondo.png);
  height: 100%;
  background-repeat: no-repeat;
  background-position: right; }

.tecnoFondo-image {
  background-image: url(../images/tecnoFondo.png);
  height: 100%;
  background-repeat: no-repeat;
  background-position: right; }

* {
  Margin: 0;
  padding: 0; }

h1 {
  text-align: left;
  font-size: 6em;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  /* color: whitesmoke; */
  background-image: linear-gradient(-225deg, #d3d5d5, #a7aaaf 29%, #a9d1e6 67%, #c9cfd4);
  letter-spacing: -4px;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent; }

.subtittle {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: whitesmoke; }

p {
  font-size: 22px;
  color: whitesmoke; }

body {
  background: radial-gradient(circle, #c3b6b6 0%, #1d1d1d 100%); }
  body header {
    margin-top: 1%;
    position: fixed;
    z-index: 100; }
    body header .firma {
      margin: 23px 10px; }
      body header .firma img {
        width: 5em; }
    body header nav {
      margin: 23px 10px;
      display: flex;
      flex-direction: column;
      width: 80px;
      align-items: center; }
      body header nav button {
        margin: 2px; }
  body .containerPresentation {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    height: 46em;
    background: radial-gradient(circle, #96584e 0%, #1a0a0a 100%); }
    body .containerPresentation .containerPresentation__info {
      width: 40%;
      margin-left: 9em; }
      body .containerPresentation .containerPresentation__info h1 {
        margin: 4% 0%; }
      body .containerPresentation .containerPresentation__info h3 {
        font-weight: 300; }
      body .containerPresentation .containerPresentation__info .containerPresentation__btn {
        background-color: whitesmoke;
        border: solid 1px whitesmoke;
        border-radius: 5px;
        padding: 11px;
        text-align: center;
        display: inline-block;
        transition: all 0.1s ease-in;
        margin: 30px 10px; }
        body .containerPresentation .containerPresentation__info .containerPresentation__btn a {
          color: #1f282d;
          text-decoration: none;
          text-transform: uppercase; }
      body .containerPresentation .containerPresentation__info .containerPresentation__btn:hover {
        background-color: #f5f5f500;
        border: solid 1px white; }
      body .containerPresentation .containerPresentation__info .containerPresentation__btn:hover a {
        color: white; }
    body .containerPresentation .containerPresentation__mobiles {
      display: flex;
      flex-direction: row;
      width: 64%; }
      body .containerPresentation .containerPresentation__mobiles .mobile1 {
        transition: all 1s;
        transform: translate(100px, 41px); }
      body .containerPresentation .containerPresentation__mobiles .mobile2 {
        animation: animationMobile infinite ease-in-out 3s 0s;
        z-index: 2; }
      body .containerPresentation .containerPresentation__mobiles .mobile3 {
        transition: all 1s;
        transform: translate(-101px, 72px); }
      body .containerPresentation .containerPresentation__mobiles .mobile3:hover {
        transform: translate(-10px, -70px) scale(0.9); }
      body .containerPresentation .containerPresentation__mobiles .mobile1:hover {
        transform: translate(-10px, -70px) scale(0.9); }

@keyframes animationMobile {
  0% {
    transform: translate(0px, -10px); }
  30% {
    transform: translate(0px, 0px); }
  60% {
    transform: translate(0px, 5px); }
  100% {
    transform: translate(0px, -10px); } }
  body main {
    background: radial-gradient(circle, #8e8484 0%, #262525 90%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 46em; }
    body main .containerMain {
      display: flex;
      flex-direction: row;
      justify-content: center;
      height: 90%;
      align-items: center; }
      body main .containerMain .containerMain__img .body__img {
        width: 15em;
        animation: imgAnimation 3s ease-in-out;
        border-radius: 4px;
        box-shadow: 5px 6px 11px #393b3c;
        opacity: 0;
        transition: .7s ease-in-out all; }
      body main .containerMain .containerMain__img .left {
        transform: translateX(-196px) scale(0.8); }
      body main .containerMain .containerMain__img .body__img:hover {
        box-shadow: 13px 13px 15px #393b3c; }
      body main .containerMain .containerMain__img .visible {
        opacity: 1 !important;
        transform: scale(1) translateX(-32px); }
      body main .containerMain .containerMain__info {
        width: 50%; }
        body main .containerMain .containerMain__info h3 {
          text-align: center;
          margin: 1em;
          font-weight: 300; }
        body main .containerMain .containerMain__info p {
          text-align: center;
          font-weight: 100; }
    body main .containerDevicons {
      justify-content: center;
      display: flex;
      align-items: center;
      margin-bottom: 5%; }
      body main .containerDevicons .containerDevicons__icon {
        z-index: 3;
        width: 5em;
        height: 5em;
        background: white;
        margin: 1%;
        padding: 5px;
        box-shadow: 5px 10px 8px #171d20;
        transition: all 0.4s; }
    body main .containerDevicons__icon:hover {
      transform: scale(1.15); }
  body .portfolioContainer {
    background: #3c1515; }
    body .portfolioContainer .portfolioContainer__project {
      background: linear-gradient(90deg, black 0%, #621818 73%);
      width: 100%;
      height: 47em;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      opacity: 0;
      transition: .7s ease-in-out all; }
      body .portfolioContainer .portfolioContainer__project .portfolioContainer__project__text {
        width: 35%;
        height: auto;
        margin-top: 5%; }
        body .portfolioContainer .portfolioContainer__project .portfolioContainer__project__text h2 {
          font-weight: 300;
          margin: 1em 0em; }
        body .portfolioContainer .portfolioContainer__project .portfolioContainer__project__text .portfolioContainer__project__btn {
          background-color: whitesmoke;
          border: solid 1px whitesmoke;
          border-radius: 5px;
          padding: 11px;
          text-align: center;
          display: inline-block;
          transition: all 0.1s ease-in;
          margin: 30px 0px; }
          body .portfolioContainer .portfolioContainer__project .portfolioContainer__project__text .portfolioContainer__project__btn a {
            color: #1f282d;
            text-decoration: none;
            text-transform: uppercase; }
        body .portfolioContainer .portfolioContainer__project .portfolioContainer__project__text .portfolioContainer__project__btn:hover {
          background-color: #f5f5f500;
          border: solid 1px white; }
        body .portfolioContainer .portfolioContainer__project .portfolioContainer__project__text .portfolioContainer__project__btn:hover a {
          color: white; }
      body .portfolioContainer .portfolioContainer__project .portfolioContainer__project__img {
        width: 55%; }
        body .portfolioContainer .portfolioContainer__project .portfolioContainer__project__img .portfolioContainer__project__img--trait {
          height: 325px;
          box-shadow: -7px 10px 9px #10161759;
          border-radius: 4px;
          transition: all 0.5s;
          margin: 24% 9%; }
      body .portfolioContainer .portfolioContainer__project .portfolioContainer__project__img--trait:hover {
        transform: scale(1.1) translate(0px, -20px);
        box-shadow: -12px 17px 18px #10161759; }
    body .portfolioContainer .visible {
      opacity: 1 !important;
      transform: translateY(0px); }
  body #contact {
    height: 46em;
    background: radial-gradient(circle, #96584e 0%, #1a0a0a 100%); }
    body #contact .subtittle--background {
      background-color: #3c1515;
      box-shadow: 0px 7px 9px #02020233; }
    body #contact .contactFlex {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      height: 55%; }
      body #contact .contactFlex .contactContainer {
        display: flex;
        flex-direction: row;
        justify-content: center; }
        body #contact .contactFlex .contactContainer a {
          margin: 2px; }
      body #contact .contactFlex .mail {
        text-align: center;
        font-size: 24px; }

/*RESPONSIVE*/
@media only screen and (min-width: 1324px) and (max-width: 1448px) {
  h1 {
    text-align: left;
    font-size: 5em; }
  body .portfolioContainer .portfolioContainer__project .portfolioContainer__project__img--trait:hover {
    transform: scale(1.1) translate(34px, -35px); }
  body .portfolioContainer .portfolioContainer__project .portfolioContainer__project__img .portfolioContainer__project__img--trait {
    height: 312px;
    box-shadow: -7px 10px 9px #10161759;
    border-radius: 4px;
    transition: all 0.5s;
    margin: 24% 5%; } }

@media only screen and (max-width: 576px) {
  p {
    font-size: 23px;
    color: whitesmoke;
    font-weight: 100; }
  body header {
    display: flex;
    /* background-image: linear-gradient(-225deg, #d3d5d5, #a7aaaf 29%, #a9d1e6 67%, #c9cfd4); */
    position: fixed;
    backdrop-filter: blur(15px);
    /* background: rgba(0,0,0,.3); */
    width: 20em;
    margin: auto;
    justify-content: space-evenly;
    bottom: 1em;
    left: 23%;
    border-radius: 14px;
    flex-direction: row;
    background: #1b1212a3;
    margin-top: 0%; }
    body header .firma {
      margin: 15px 10px; }
    body header nav {
      margin: 12px 10px;
      display: flex;
      flex-direction: row;
      width: auto;
      justify-content: center;
      align-items: center; }
  body .containerPresentation {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: auto; }
    body .containerPresentation .containerPresentation__info {
      width: max-content;
      margin: 2em; }
    body .containerPresentation .containerPresentation__mobiles {
      width: auto;
      margin: 2em; }
      body .containerPresentation .containerPresentation__mobiles img {
        width: 10em; }
      body .containerPresentation .containerPresentation__mobiles .mobile1 {
        transform: translate(43px, -44px); }
      body .containerPresentation .containerPresentation__mobiles .mobile2 {
        padding: 0em; }
      body .containerPresentation .containerPresentation__mobiles .mobile3 {
        transform: translate(-48px, -26px); }
      body .containerPresentation .containerPresentation__mobiles .mobile1:hover {
        transform: translate(-10px, -60px); }
      body .containerPresentation .containerPresentation__mobiles .mobile3:hover {
        transform: translate(10px, -100px); }
  body main {
    background: radial-gradient(circle, #8e8484 0%, #262525 90%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 60em; }
    body main .containerMain {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      align-items: center; }
      body main .containerMain .containerMain__img {
        /* width: 100%; */
        margin-bottom: 5%;
        margin-top: 7%; }
        body main .containerMain .containerMain__img .left {
          transform: translateX(-155px) scale(0.8); }
        body main .containerMain .containerMain__img .visible {
          opacity: 1 !important;
          transform: scale(1.03) translateX(5px); }
      body main .containerMain .containerMain__info {
        width: 90%; }
    body main .containerDevicons {
      flex-wrap: wrap; }
  body .portfolioContainer .portfolioContainer__project {
    flex-direction: column;
    height: auto; }
    body .portfolioContainer .portfolioContainer__project .portfolioContainer__project__text {
      width: 90%;
      height: 100%;
      margin-top: 0%; }
      body .portfolioContainer .portfolioContainer__project .portfolioContainer__project__text h2 {
        margin-top: 0px;
        margin-bottom: 5px; }
      body .portfolioContainer .portfolioContainer__project .portfolioContainer__project__text h3 {
        margin-bottom: 15px; }
    body .portfolioContainer .portfolioContainer__project .tecnoFondo-image {
      background: none; }
    body .portfolioContainer .portfolioContainer__project .selvageFondo-image {
      background: none; }
    body .portfolioContainer .portfolioContainer__project .stoneFondo-image {
      background: none; }
    body .portfolioContainer .portfolioContainer__project .creativaFondo-image {
      background: none; }
    body .portfolioContainer .portfolioContainer__project .ilserranoFondo-image {
      background: none; }
    body .portfolioContainer .portfolioContainer__project .portfolioContainer__project__img {
      width: 100%;
      order: -1; }
      body .portfolioContainer .portfolioContainer__project .portfolioContainer__project__img .portfolioContainer__project__img--trait {
        height: 259px;
        margin: 6% 6%; } }

@media only screen and (max-width: 412px) {
  h1 {
    font-size: 5em; }
  h3 {
    font-size: 28px; }
  body header {
    left: 11%;
    bottom: 3em; }
  body .containerPresentation .containerPresentation__info {
    width: max-content; }
  body .containerPresentation .containerPresentation__mobiles img {
    width: 9em; }
  body .containerPresentation .containerPresentation__mobiles .mobile1:hover {
    transform: translate(10px, -60px) scale(0.9); }
  body .containerPresentation .containerPresentation__mobiles .mobile3:hover {
    transform: translate(-10px, -80px) scale(0.9); }
  body main {
    height: 67em; }
    body main .containerMain .containerMain__img .left {
      transform: translateX(-196px) scale(0.5); }
    body main .containerMain .containerMain__img .visible {
      opacity: 1 !important;
      transform: scale(0.8) translateX(0px); }
    body main .containerDevicons .containerDevicons__icon {
      z-index: 3;
      width: 4em; }
  body .portfolioContainer .portfolioContainer__project {
    flex-direction: column;
    height: auto; }
    body .portfolioContainer .portfolioContainer__project .portfolioContainer__project__text h2 {
      font-size: 33px; }
    body .portfolioContainer .portfolioContainer__project .portfolioContainer__project__img {
      width: 100%;
      order: -1; }
      body .portfolioContainer .portfolioContainer__project .portfolioContainer__project__img .portfolioContainer__project__img--trait {
        height: 183px;
        margin: 8% 7%; } }

@media only screen and (max-width: 360px) {
  h3 {
    font-size: 24px; }
  p {
    font-size: 21px;
    color: whitesmoke;
    font-weight: 100; }
  body h1 {
    font-size: 4em; }
  body h2 {
    font-size: 40px; }
  body header {
    left: 7%; }
  body .containerPresentation .containerPresentation__info {
    margin: 2em; }
  body .containerPresentation .containerPresentation__mobiles img {
    width: 7em; }
  body .containerPresentation .containerPresentation__mobiles .mobile1:hover {
    transform: translate(0px, -60px) scale(0.9); }
  body .containerPresentation .containerPresentation__mobiles .mobile3:hover {
    transform: translate(5px, -80px) scale(0.9); }
  body .portfolioContainer .portfolioContainer__project {
    flex-direction: column;
    height: auto; }
  body .portfolioContainer .portfolioContainer__project .portfolioContainer__project__img .portfolioContainer__project__img--trait {
    height: 158px;
    margin: 10% 7%; }
  body .portfolioContainer .portfolioContainer__project .tecnoFondo-image {
    background-size: 25em; }
  body .portfolioContainer .portfolioContainer__project .selvageFondo-image {
    background-size: 25em; }
  body .portfolioContainer .portfolioContainer__project .stoneFondo-image {
    background-size: 25em; }
  body .portfolioContainer .portfolioContainer__project .creativaFondo-image {
    background-size: 25em; }
  body .portfolioContainer .portfolioContainer__project .ilserranoFondo-image {
    background-size: 25em; } }
