//Mixins
@mixin sizes  ($with, $height){
    width: $with;
    height: $height;
}

//font size
/*font size*/
@for $var from 1 through 3 {
    h#{$var}{
        font-size: 2em * (3/ $var) ; font-family: 'Roboto', sans-serif ;
        font-weight: 200 ; color: whitesmoke;     
    }
}

//image website
/*image website*/
@each $imageSite in ilserranoFondo, creativaFondo, stoneFondo, selvageFondo, tecnoFondo, SignInUpFondo{
    .#{$imageSite}-image{
        background-image: url(../images/#{$imageSite}.png); height: 100%; background-repeat: no-repeat; background-size: cover;
    }
} 

//map ver si lo puedo poner

// $colors: (
//     white: rgb(240, 236, 236),
//     red: rgb(153, 25, 25),
//     gray: rgb(121, 139, 121),
// );

// @each $colorvar, $color in $colors
// {
//     .color-#{$colorvar}{
//         color:$color;
//     }
// } 
