@import "var&function";


*{
    Margin:0;  padding:0;
}

h1{
    text-align: left;
        
    font-size: 4em;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    /* color: whitesmoke; */
    background-image: linear-gradient(-225deg,#d3d5d5,#a7aaaf 29%,#a9d1e6 67%,#c9cfd4);
    letter-spacing: -4px;
  

    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.subtittle{
    text-align: center;
        
    // font-size: 6em;
    font-family: 'Roboto', sans-serif;
    font-weight: 300; 
    color: whitesmoke;    

}




p{
    font-size: 20px;;
    color: whitesmoke;  
}

body{
  
    background: radial-gradient(circle, rgba(195,182,182,1) 0%, rgba(29,29,29,1) 100%);  
    
    header{

        .containerHeader{
            margin-top: 1%;
            position: fixed;
            z-index: 100;
            .firma{    
                margin: 23px 10px;  
                
                img{
                    width: 5em;
                }
            }
            
            nav{
                margin: 23px 10px;
                display: flex;
                flex-direction: column;
                // background-color: #a39b9b7a;
                width: 80px;
                // padding: auto;
                // border-radius: 15px;
                align-items: center;

                button {
                    margin: 2px;
                }
            
            }
        }
    }

    // BLOQUE 1////////////////////////////////////////////////////
    // CONTAINER PRESENTATION 
    .containerPresentation{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;

        height: 100vh;
        background: radial-gradient(circle, rgb(150, 88, 78) 0%, rgb(26, 10, 10) 100%);

        // CONTAINER PRESENTATION INGO 
        .containerPresentation__info{
            width: 40%;
            margin-left: 9em;
            h1{
                margin: 4% 0%;
            }

            h3{
                font-weight: 300;
            }

            .containerPresentation__btn{
                background-color: whitesmoke;
                border: solid 1px whitesmoke;
                border-radius: 5px;
                padding: 11px;
                text-align: center;
                display: inline-block;
                transition: all 0.1s ease-in;
                margin: 30px 10px;

                a{
                    color: #1f282d;
                    text-decoration: none;
                    text-transform: uppercase;
                }
            }
           
            .containerPresentation__btn:hover{
                background-color: #f5f5f500;
                border: solid 1px white;
            }
            .containerPresentation__btn:hover a{
                color:white
            }
         
        }

        // CONTAINER PRESENTATION MOBILE
        .containerPresentation__mobiles{

            display: flex;
            flex-direction: row;
            width: 64%;

            .mobile1{

                transition: all 1s;
                transform: translate(120px, 0px) scale(0.7);
               
            }
            .mobile2{
                
                animation: animationMobile infinite ease-in-out 3s 0s;
                z-index: 2;
            }
            .mobile3{
               
                transition: all 1s;
                transform: translate(-110px, 87px) scale(0.7);
            }

            .mobile3:hover{
                transform: translate(-10px, 0px) scale(0.9);
                
                
            }

            .mobile1:hover{
                transform: translate(-10px, 0px) scale(0.9);
            }

            @keyframes animationMobile {
                0%{
                   transform: translate(0px, -10px) scale(0.9); 
                }
                30%{
                    transform: translate(0px, 0px)  scale(0.9);          
                }
                60%{
                    transform: translate(0px, 5px)  scale(0.9); 
                }
                100%{
                    transform: translate(0px, -10px)  scale(0.9); 
                }
            }
        }
    }
    
    // BLOQUE 2////////////////////////////////////////////////////
    // MAIN
    main{
        
        background: radial-gradient(circle, rgb(142, 132, 132) 0%, rgb(38, 37, 37) 90%);

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        // height: 100vh;

        @include sizes (100%, 100vh); 
        // margin: 7em auto;            
        
        // CONTAINER MAIN
        .containerMain{
            
            display: flex;
            flex-direction: row;
            justify-content: center;
            height: 90%;
            align-items: center;          
            
    
             // CONTAINER MAIN IMG
            .containerMain__img{
                
                // width: 21em;
    
                .body__img{
                    width: 15em;           
                    animation: imgAnimation 3s ease-in-out;
                    // transition: all, 0.5s;
                    border-radius: 4px;
                    // padding: 2%;
                    box-shadow: 5px 6px 11px #393b3c;

                    opacity: 0;                
                    transition: .7s ease-in-out all;
                }

                .left{
                    transform: translateX(-196px) scale(0.8);
                }

                .body__img:hover{                                      
                    box-shadow: 13px 13px 15px #393b3c;
                }
                .visible{
                    opacity: 1 !important;
                    transform: scale(1.00) translateX(-32px); 
                }

            }

             // CONTAINER MAIN INFO
            .containerMain__info{
                width: 50%;

                h3{
                    text-align: center;
                    margin: 1em ;
                    font-weight: 300;
                }
                p{
                    text-align: center;
                    font-weight: 100;
                }
            }
       
        }  


        // DEVICONS
        .containerDevicons{
                     
            justify-content: center;        
            display: flex;
            align-items: center;
            margin-bottom: 5%;
            flex-wrap: wrap;
            width: 80%;
    
            .containerDevicons__icon{
                z-index: 3;          
                height: 4em;
                background: white;           
                margin: 1%;
                padding: 5px;
                box-shadow: 5px 10px 8px #171d20;
    
                transition: all 0.4s;
            }
    
        }
        .containerDevicons__icon:hover{
            transform: scale(1.15);
        }
          
      
    }

    // ESTO PARA LA API INTERSECTIOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOON

//     .contenedor{
                
//      img{
//         opacity: 0;
//         transform: scale(0.9);
//         transition: .7s ease-in-out all;
//       }
//     }
    
//    .contenedor{
//         .visible{
//             opacity: 1 !important;
//             transform: scale(1);
//         }
//     } 



    // BLOQUE 3////////////////////////////////////////////////////
    // PORTFOLIO CONTAINER
    .portfolioContainer{
        background: #3c1515;
        // PROJECT
        .portfolioContainer__project{
            // transform:  translateY(-100px);
      
            background: linear-gradient(90deg, black 0%, #621818 73%);
            @include sizes (100%, 100vh); 
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;

            opacity: 0;                
            transition: .7s ease-in-out all;

            .portfolioContainer__project__text{
            
                width: 42%;
                height: auto;
               
                h2{
                    font-weight: 300;
                    margin: 1em 0em;
                }

                .portfolioContainer__project__btn{
                    background-color: whitesmoke;
                    border: solid 1px whitesmoke;
                    border-radius: 5px;
                    padding: 11px;
                    text-align: center;
                    display: inline-block;
                    transition: all 0.1s ease-in;
                    margin: 30px 0px;

                    a{
                        color: #1f282d;
                        text-decoration: none;
                        text-transform: uppercase;
                    }
                }
                .portfolioContainer__project__btn:hover{
                    background-color: #f5f5f500;
                    border: solid 1px white;
                }

                .portfolioContainer__project__btn:hover a{
                    color: white;
                }
                              
                
            }
            .portfolioContainer__project__img{
                // width: 55%;
                width: 49%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                    
                
                .portfolioContainer__project__img--trait{                 
               
                    height: 325px;
                    box-shadow: -7px 10px 9px #10161759;
                    border-radius: 4px;
                    transition: all 0.5s;
                    margin: 24% 9%;

                                 
         
                }

             
            }

            .portfolioContainer__project__img--trait:hover{
                transform: rotate(3deg) ;
                box-shadow: -3px 4px 10px #0b0c0cb0;
            }
            
        }

        .visible{
            opacity: 1 !important;
            transform:  translateY(0px);
     
        }
    }

    // CONTACTO
    #contact{
        height: 100vh;
       
        background: radial-gradient(circle, rgb(150, 88, 78) 0%, rgb(26, 10, 10) 100%);
        .subtittle--background{
            background-color: #3c1515;
            box-shadow: 0px 7px 9px #02020233;
            
        }

        .contactFlex{
            
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            height: 55%;

            .contactContainer{
                display: flex;
                flex-direction: row;
                justify-content: center;

                a{
                    margin: 2px;
                }
            }

            .mail{       
                text-align: center;
                font-size: 24px;
            }
        }

    }
}


@import "responsive";
